* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: peachpuff;
}

.border {
    border: 1px solid maroon;
}

#main {
    height: 100vh;
    width: 100vw;
}

.height {
    height: 100vh;
}

.width {
    width: 100vw;
}

/*
    NAV
*/

.nav-content {
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

/*
    CONTENT
*/

#task-footer {
    height: 10vh;
}

/*
    FLEX
*/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.single {
    flex: 1;
}

.double {
    flex: 2;
}

.center-content {
    justify-content: center;
    align-items: center;
}